.demo>input {
    width: 50%;
    height: 50px;
    font-size: 20px;
    background-color: #c77700;
    padding: 0;
}
.demo>input:hover {
    cursor: pointer;
} 

#schematic {
    width: 50%;
}

.page.content a {
    text-decoration: underline;
}