.project-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
}
.project-collection>a {
    margin: 12px 2px;
}


.project {
    display: grid;
    grid-template-columns: 400px minmax(200px, 1fr);
    border: rgb(189, 178, 178) solid 2px;
    height: 400px;
    margin:0;
}
.project:hover {
    border: black solid 2px;
    background-color: #9499c7;
}

.project>div>p {
    margin: 10px 22px;
    border-bottom: black 2px solid;
}

.languages {
    margin: 0px 10px;
    position: relative;
    bottom: 0px;
}
.languages>div {
    border: black 1px solid;
    padding: 10px 10px;
}
.languages>div>p {
    font-style: italic;
    display: inline;
    margin-inline: 0px 10px;
}

.screenshot {
    margin: auto;
    max-width: 400px;
    max-height: 100%;
    overflow: hidden;
}


.enhance {
    position: absolute;
    display: block;
    visibility: hidden;
    bottom: 0;
    right:  0;
    max-height: 100%;
    max-width: 100%;
}

.screenshots:hover + .enhance {
    visibility: visible;
    
}
